/*-------------------------------------------------------
# General 
-------------------------------------------------------*/
body {
    background-color: #f4eae2;
    color: #444444;
}

/*-------------------------------------------------------
# Navigation
-------------------------------------------------------*/
.navbar {
  margin-top: 10px;
  justify-content: center;
}
img {
  max-width:100%;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.logo > img {
  max-width:120px;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navigation a {
  display: block;
  text-decoration: none;
  padding: 17px;
  color: inherit;
  text-transform: uppercase;
  font-family: 'Roboto', 'serif';
  font-size: 20px;
}
.navigation a:hover {
  color: black;
  text-decoration: underline;
}
.spacer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px 30px;
}
.nav-links-toggle {
  display: block;
  text-decoration: none;
  padding: 17px;
  color: inherit;
  text-transform: uppercase;
  font-family: 'Roboto', 'serif';
  font-size: 20px;
  list-style: none;
  text-align: center;
  justify-content: center;
}
.nav-links-div {
  display: none;
  margin-top: 20px;
}

/*För mindre skärmar links*/
@media (max-width: 850px) {
  .nav-links {
    display: none !important;
  }

}

/*För mindre skärmar links*/
@media (min-width: 850px) {
 .nav-links-toggle {
   display: none;
 }
}

/*För mindre skärmar logo*/
@media (max-width: 500px) {
  .navbar{
    max-width: 90%;
  }
  .spacer {
    margin: 0;
  }
  .logo {
    max-width: 100%;
  }

}

@media (max-width: 400px) {
  .navbar{
    max-width: 80%;
  }
}


/*-------------------------------------------------------
# Navigation burger
-------------------------------------------------------*/
/*För större skärmar*/
@media (min-width: 850px) {
  .menu-toggle {
    display: none !important;
  }

}
@media (max-width: 340px) {
  .icon {
    right: -20px !important;
    top: 35px !important;
  }

}

.menu-toggle {
  color: #23136B;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: visible;
}

/* Burger animation */

/*Stolek på ikonen som helhet som är klickbart*/
.icon {
  position: absolute;
  top: 40px;
  right: -10px;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  cursor: pointer;
}
/*Mittenstrecket i hamburgaren*/
.hamburger {
  width: 35px;
  height: 6px;
  background: #034b63;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  transition: .5s;
}
/*före och efter*/
.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  width: 35px;
  height: 6px;
  background: #034b63;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;
}
/*Strecket ovanför mitten*/
.hamburger:before {
  top: -10px;
}
/*Strecket under mitten*/
.hamburger:after {
  top: 10px;
}
/*Mittenstrecket försvinna*/
.icon.active .hamburger {
  background: rgba(0,0,0,0);
}
/*Roterar övre strecket*/
.icon.active .hamburger:before {
  top: 0;
  transform: rotate(-45deg);
}
/*Roterar undre strecket*/
.icon.active .hamburger:after {
  top: 0;
  transform: rotate(45deg);
}
  
  